body {  
    width: auto;
}

body::after { /* Background del body*/
    content: "";    
    background: url(../images/pokeball-background.png);
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    background-size: 80px;
}

input {
    background-color: #F69B9B;
}

button {
    background-color: #5070FE;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

h2, h4 {
    margin: auto;
}


#buscador {
    background-color: #F94F4F;
    padding: 10px;
    text-align: center;
}
#secPokedex {
    
}

#pokedex {
    text-align: center;
    background-color: #0D33C2;
    width:min-content;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#pantalla {
    background-color: #A7AAB6;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    padding: 10px;
}

#tipoPokemon {
    margin: 10px;
    background-color: #44A2F5;
    width: auto;
    font-size: 28px;
}

#estadisticas {
    background-color: #44A2F5;
    text-align:center;
    margin: 10px;
}

#movimientos {
    margin: 10px;
    background-color: #44A2F5;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style:circle;
    width: 300px;
    height: 200px;
    overflow:auto;
}

#errorPaginacion {
    background-color: #BB2929;
    color: #08CBD8;
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}